
@model  IEnumerable<MvcBookStore.Models.NHAXUATBAN>
    <br />
@*<div class="list-group">*@
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPNhaXuatBan","BookStore",new { id=item.MaNXB})" class="list-group-item">
            @item.TenNXB
        </a>
    }

@*</div>*@





